body{
    background-color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0%;
}

h1{
    color: cornflowerblue;
}

p{
    font-size: small;
    color: darkred;
}